@charset "utf-8";
/* CSS Document */



	
/* refine search container */
	#refine-search {
		margin-bottom:10px;
	}
	
/* category dropdown */
	#category-dropdown {
		text-align:center;
	}
	#category-dropdown select {
		width:98%;
	}
	
/* hotel dropdown */
	#hotel-dropdown {
		text-align:center;
	}
	#hotel-dropdown select {
		width:98%;
	}
	
/* hotel wrapper */
  .hotel-wrapper {
	  	background-color:#90C900;
		border: 3px solid #90C900;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin: 10px 0;
		background-image:url(../images/select-hotel/hotelDivbg.png);
		background-repeat: repeat-x;
		padding: 0.5% 2%;
	}
	.hotel-wrapper h3 {
		color:#06F;
		text-align:center;
	}
	.best-price-available {
		text-align:center;
		color: #FFF;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#06f;
		padding:3px;
	}
	.free-meals-offer {
		text-align:center;
		color: #FFF;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#b8238f;
		padding:3px;
		margin:3px 0;
	}
	
/* hotel-options container */
	.hotel-options {
		border: 3px solid #9C0;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#afcb83;
		padding:2%
	}
	.hotel-options-radio-buttons {
		background-color:#fff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:0.6% 2%;
	}
			
/* hotel-tab-content (general, description, photo, facilities) */
	#tabs-navigation {		
		float: left;
		width:100%;
	}	 
	#tabs-navigation li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	#tabs-navigation span {
		cursor:pointer;
		color:#fff;
		float: left;
		margin: 0.2%;
		padding: 0.7%;
		background-color:#06F;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
		-webkit-border-top-left-radius:5px;
		-webkit-border-top-right-radius:5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	}	
	#tabs-navigation .current span {
		background-color:#b8238f;
	}
	.hotel-tab-content .content {
		padding:1%;
		float: left;
		background-color:#fff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	.hotel-tab-content .content img {
		width:100%;
		height:auto;
		float:left;
		margin:0.5%;	
	}
	.hotel-tab-content .photos-img img {
		width:100%;
		height:auto;
		margin:0.5%;
	}

	
/* tablet layout*/
@media only screen and (min-width: 481px) {
	
/* category dropdown */
	#category-dropdown {
		width:50%;
		float:left
	}
/* hotel dropdown */
	#hotel-dropdown {
		width:50%;
		float:left;
	}
/* hotel-tab-content (general, description, photo, facilities) */	
	.hotel-tab-content .content img {
		width:49%;
		height:auto;
	}
	.hotel-tab-content .photos-img img {
		width:49%;
		height:auto;
	}
}

/*desktop layout*/
@media only screen and (min-width: 769px) {
	
/* hotel-options container */
	.hotel-options {
		width:45%;
		height:430px;
		overflow:auto;
		float:left;
	}
/* container holding hotel tab content */
	.hotel-tab-content {
		width:50%;
		float:right;
	
	}
/* content of tab */
	.hotel-tab-content .content {
		height:436px;
		overflow:auto;
	}

/* hotel-tab-content (general, description, photo, facilities) */	
	.hotel-tab-content .content img {
		width:32.3%;
		height:auto;
	}
/* tab with hotel photos */
	.hotel-tab-content .photos-img img {
		width:32.3%;
		height:auto;
	}

}
