@charset "utf-8";
/* CSS Document */

/* holder holding extras */
	.extras-holder {
		border: 3px solid #90C900;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin: 10px 0;
		background-repeat: repeat-x;
		padding: 0.5% 2%;
	}
/* extras header */
	.extras-holder h2 {
	   padding: 3px 11px;
	  -moz-border-radius: 20px;
	  -webkit-border-radius: 20px;
	  border-radius: 20px;
	  background-color: #06F;
	  color: #FFF;
	 }
/* extras image */
  .extras-holder img {
	  width:100%;
	  height:auto;
  }
  .extras-details-button {
	  clear:both;
	  text-align:center;
	  height: 15px;
	  background: url(../images/shared/bottom-buttons.jpg) top;
	  display: block;
	  text-align: center;
	  margin: 0 auto 7px auto;
	  padding: 10px 0px;
	  text-decoration: none;
	  color: #FFF;
	  font-size: 100%;
	  font-weight: bold;
	  -moz-border-radius: 15px;
	  -webkit-border-radius: 15px;
	  border-radius: 15px;
	  cursor:pointer;
  }
  .extras-details-button:hover {
	  background-position: 0px 35px;
	  color: #90C900;	  
  }
  .extras-form-holder {
	  margin:5px 0;
	  background-color: #90C900;
	  clear:both;
	  color:#fff;
	  padding: 1px 17px 11px;
  }
  .extras-form-holder h3 {
 		border-bottom: solid 1px;
  }
  .extras-form-holder h3:before, .extras-form-holder h3:after {
	  content:url(../images/select-extras/stars.png);
  }
  .date-adult-kids {
	  border-bottom:solid 1px #fff;
  }

		

/* tablet layout*/
@media only screen and (min-width: 481px) {
	.extras-holder img {
		max-width:250px;
		float:left;
		padding:0 10px 10px 0;
	}
}

/*desktop layout*/
@media only screen and (min-width: 769px) {
	.extras-details-button {
		float:right;
		width:200px;
	}

}