@charset "utf-8";
/* CSS Document */

.insurance-banner {
	display:none;
}
.transfers-holder {
	background-color: #90C900;
	color: #FFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin: 5px 0;
	padding: 1px 17px 11px;
}
.transfers-holder h3 {
	border-bottom:solid 1px;
}
.transfers-holder h3:before, .transfers-holder h3:after {
content: url(../images/select-extras/stars.png);
}

/* tablet layout*/
@media only screen and (min-width: 481px) {
	.insurance-banner {
		display:block;
		border: 3px solid #90C900;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin: 10px 0;
		overflow:hidden;
	}
}

/*desktop layout*/
@media only screen and (min-width: 769px) {

}