@charset "utf-8";
/* CSS Document */

/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	ul, h4 {
		margin:0;
		padding:0;
	}
	.clear-both {
		clear:both;
	}
	a:link, a:visited, a:hover, a:active {
		color: #A5559C;
	}
	a img {
		border:none;
	}
	.black {
		color:#000000;
	}
	.blue {
		color:#06F;
	}
	.small-text-10 {
		font-size:10px;
	}
	.center {
		text-align:center;
	}
	a.blue-button {
		color: #FFF;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: #06F;
		padding:5px;
		text-decoration:none;
		border:1px solid #90C900;
	}
	a.pink-button {
		color: #FFF;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: #B8238F;
		padding:5px;
		text-decoration:none;
		border:1px solid #90C900;
	}
	
/* green horizontal line */
	.spacer {
		clear: both;
		border-top: 1px solid #90C900;
	}
	body {
		font-size: 80%;
		color: #666;
		font-family: Verdana, Geneva, sans-serif;
	}
	
/* please wait page */
img.please-wait {
	max-width:238px;
	width:100%;
	height:auto;
	margin:5% auto 0;
	display:block;
	}
	
	#wrapper {
		width:98%;
		max-width:1024px;
		margin:0 auto;
	}
	
/* header properties */
	header #breakaway-logo {
		width:30%;
		max-width:252px;
		margin: 0 auto;
		display: block;
	}
	
	header #header-image {
		max-width: 567px;
		width: 100%;	
	}
	
/* navigation under header */
	#navigation {
		margin-top:8px;
		border-top:solid 1px #5B9400;
		border-bottom: solid 1px #5B9400;
	}
	
/* start again back arrows */	
	#navigation #start-again-back {
		width: 150px;
		margin: 3px auto;
	}
	#navigation ul li {
		display:inline;
		list-style-type: none;
	}
	#navigation #start-again-back #start-again-bt {
		display: inline-block;
		width: 90px;
		height: 17px;
		background: url(images/start-btn.png) top;
		text-indent: -99999px;
	}	
	#navigation #start-again-back #start-again-bt:hover {
		background-position: 0 -17px;
	}
	#navigation #start-again-back #back-bt {
		display: inline-block;
		width: 55px;
		height: 17px;
		background: url(images/back-btn.png) top;
		text-indent: -99999px;
	}	
	#navigation #start-again-back #back-bt:hover {
		background-position: 0 -17px;
	}

/* progress bar */
	#navigation #progress {
		margin-bottom:3px;
	}
	#navigation #progress img {
		width: 100%;
		max-width: 592px;
		height: auto;
		display: block;
		margin: auto;
	}
/* booking details */
	#booking-details {
		font-weight: bold;
		color: #666;
		background-color: #90C900;
		padding: 10px;
		margin: 10px 0;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}
	#booking-details table {
		width:100%;
	}
	#booking-details td {
		width:50%;
	}
/* refine search */
	#refine-search {
		margin-bottom:10px;
	}
/* category dropdown */
	#category-dropdown {
		text-align:center;
	}
	#category-dropdown select {
		width:98%;
	}
/* hotel dropdown */
	#hotel-dropdown {
		text-align:center;
	}
	#hotel-dropdown select {
		width:98%;
	}
/* hotel wrapper */
  .hotel-wrapper {
	  	background-color:#90C900;
		border: 3px solid #90C900;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin: 10px 0;
		background-image:url(images/select-hotel/hotelDivbg.png);
		background-repeat: repeat-x;
		padding: 0.5% 2%;
	}
	.hotel-wrapper h3 {
		color:#06F;
		text-align:center;
	}
	.best-price-available {
		text-align:center;
		color: #FFF;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#06f;
		padding:3px;
		}
	.free-meals-offer {
		text-align:center;
		color: #FFF;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#b8238f;
		padding:3px;
		margin:3px 0;
	}
/* hotel-options */
	.hotel-options {
		border: 3px solid #9C0;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background-color:#afcb83;
		padding:2%
	}
	.hotel-options-radio-buttons {
		background-color:#fff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:0.6% 2%;
	}	
	
/* hotel-tab-content (general, description, photo, facilities) */
	
	#tabs-navigation {		
		float: left;
		width:100%;
	}	 
	#tabs-navigation li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	#tabs-navigation span {
		cursor:pointer;
		color:#fff;
		float: left;
		margin: 0.2%;
		padding: 0.7%;
		background-color:#06F;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
		-webkit-border-top-left-radius:5px;
		-webkit-border-top-right-radius:5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	}	
	#tabs-navigation .current span {
		background-color:#b8238f;
	}
	.hotel-tab-content .content {
		padding:1%;
		float: left;
		background-color:#fff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	.hotel-tab-content .content img {
		width:100%;
		height:auto;
		float:left;
		margin:0.5%;
		
	}
	.hotel-tab-content .photos-img img {
		width:100%;
		height:auto;
		margin:0.5%;
	}

	
	
	
	
	
	

/* bottom back and start again buttons */
	#bottom-start-again-back {
		clear: both;
		border-top: 1px solid #90C900;
		padding:5px;
	}
	#bottom-start-again-back ul li {
		display:inline;
		list-style-type: none;
	}
	#back-bt-bottom {
		display: inline-block;
		width: 75px;
		height: 35px;
		background: url(images/back-btn-old.png) top;
		text-indent: -99999px;
	}
	#back-bt-bottom:hover {
		background-position: 0 -35px;
	}
	
	#start-again-bt-bottom {
		display: inline-block;
		width: 127px;
		height: 35px;
		background: url(images/start-btn-old.png) top;
		text-indent: -99999px;
	}
	#start-again-bt-bottom:hover {
		background-position: 0 -35px;
	}
	
	footer {
		border-top: 1px solid #90C900;
	}
	
	
	
	
	
	
	
	
	
	
	
	
/* tablet layout*/
@media only screen and (min-width: 481px) {

body {
	background-color:red;
}
	#wrapper {
		width:100%;
	}
	header #breakaway-logo {
		width:30%;
		float:left;
	}
	header #header-image {
		width:60%;
		float:right;	
	}
/* booking details */
	#booking-details-left {
		width:50%;
		float:left;	
	}
	#booking-details-right {
		width:50%;	
		float:left;
	}
	
/* category dropdown */
	#category-dropdown {
		width:50%;
		float:left
	}
/* hotel dropdown */
	#hotel-dropdown {
		width:50%;
		float:left;
	}
/* hotel-tab-content (general, description, photo, facilities) */	
	.hotel-tab-content .content img {
		width:49%;
		height:auto;
	}
	.hotel-tab-content .photos-img img {
		width:49%;
		height:auto;
	}
}

/*desktop layout*/
@media only screen and (min-width: 769px) {
	
	body {
		background-color:#FFF;
	}
/* start again back arrows */	
	#navigation #start-again-back {
		float:left;
		margin-top:6px;
	}
	
	
/* progress bar */
	#navigation #progress {
		margin-bottom: 1px;
		margin-top: 1px;
		float:right;
	}
	/* hotel-tab-content (general, description, photo, facilities) */	
	.hotel-tab-content .content img {
		width:32.3%;
		height:auto;
	}
	.hotel-tab-content .photos-img img {
		width:32.3%;
		height:auto;
	}

}